[Unit]
Description=Battery Level Monitor Timer
Requires=battery-monitor.service

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Persistent=true

[Install]
WantedBy=timers.target