directory.default.set = ~/Downloads/alan-watts
session.path.set = ~/.rtorrent-session
network.port_range.set = 49152-65534
dht.mode.set = auto
protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
