! ~/.Xresources
! -- Arnarchy theme by Nicholas Glazer <glazer.nicholas@gmail.com>
! -- say hi - nicholasglazer.com
! -- miozu palette --
! ---- TODO put definitions in separate file as git repo
!-----------------------
#define miozu00 #1D1D23
#define miozu01 #242733
#define miozu02 #38384C
#define miozu03 #64647E
#define miozu04 #A1A1B7
#define miozu05 #C9CBD7
#define miozu06 #E0E0E8
#define miozu07 #FAF8FB
#define miozu08 #8683FF
#define miozu09 #4385E7
#define miozu0A #FF9922
#define miozu0B #7DB359
#define miozu0C #2DD9F0
#define miozu0D #CF8DFF
#define miozu0E #F4517D
#define miozu0F #C43444

! black            01 & 02
*color0: miozu03 !01
*color8: miozu02
! red              0E & 0F
*color1: miozu0E
*color9: miozu0F
! green            0B & 0B
*color2: miozu0B
*color10: miozu0B
! blue             0A & 09
*color4: miozu0D
*color12: miozu09
! yellow           0A & 09
*color3: miozu0A
*color11: miozu09
! magenta          08 & 0B
*color5: miozu08
*color13: miozu0B
! cyan             0C & 03
*color6: miozu0C
*color14: miozu03
! white            05 & 06
*color7: miozu05
*color15: miozu06

! Xft settings
!-----------------------
Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        96
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       none

! Xcursor config
!-----------------------
Xcursor.theme:  whiteglass
Xcursor.size:   16

! URxvt settings
!-----------------------
URxvt*font:           xft:Hack:size=9
URxvt*background:     miozu0E !01
URxvt*foreground:     miozu05
URxvt*highlightColor: miozu03
URxvt*cursorColor:    miozu0E
URxvt*cursorColor2:   miozu03
URxvt*colorUL:        miozu0A
URxvt*letterSpace:    -1
URxvt*scrollBar:      false
URxvt*transparent:    true
!URxvt*internalBorder: 0
URxvt*shading:        0
URxvt*fading:         40
URxvt*inheritPixmap:  false
URxvt*cursorBlink:    true
URxvt*pointerBlank:   true
URxvt*keysym.Shift-Control-V: eval:paste_clipboard
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*urgentOnBell:   true
URxvt*visualBell:     false
! all xresources
*internalBorder:      10
