! ~/.Xresources
! -- Arnarchy theme by Nicholas Glazer <glazer.nicholas@gmail.com>
! -- say hi - nicholasglazer.com
! -- Anarchy palette --
!-----------------------
#define anarchy00 #1D1D23
#define anarchy01 #242733
#define anarchy02 #38384C
#define anarchy03 #64647E
#define anarchy04 #A1A1B7
#define anarchy05 #C9CBD7
#define anarchy06 #E0E0E8
#define anarchy07 #FAF8FB
#define anarchy08 #8683FF
#define anarchy09 #4385E7
#define anarchy0A #FF9922
#define anarchy0B #7DB359
#define anarchy0C #2DD9F0
#define anarchy0D #CF8DFF
#define anarchy0E #F4517D
#define anarchy0F #C43444

! black            01 & 02
*color0: anarchy03 !01
*color8: anarchy02
! red              0E & 0F
*color1: anarchy0E
*color9: anarchy0F
! green            0B & 0B
*color2: anarchy0B
*color10: anarchy0B
! blue             0A & 09
*color4: anarchy0D
*color12: anarchy09
! yellow           0A & 09
*color3: anarchy0A
*color11: anarchy09
! magenta          08 & 0B
*color5: anarchy08
*color13: anarchy0B
! cyan             0C & 03
*color6: anarchy0C
*color14: anarchy03
! white            05 & 06
*color7: anarchy05
*color15: anarchy06

! Xft settings
!-----------------------
Xft.antialias:  true
Xft.autohint:   false
Xft.dpi:        96
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       none

! Xcursor config
!-----------------------
Xcursor.theme:  whiteglass
Xcursor.size:   16

! URxvt settings
!-----------------------
URxvt*font:           xft:Hack:size=9
URxvt*background:     anarchy0E !01
URxvt*foreground:     anarchy05
URxvt*highlightColor: anarchy03
URxvt*cursorColor:    anarchy0E
URxvt*cursorColor2:   anarchy03
URxvt*colorUL:        anarchy0A
URxvt*letterSpace:    -1
URxvt*scrollBar:      false
URxvt*transparent:    true
!URxvt*internalBorder: 0
URxvt*shading:        0
URxvt*fading:         40
URxvt*inheritPixmap:  false
URxvt*cursorBlink:    true
URxvt*pointerBlank:   true
URxvt*keysym.Shift-Control-V: eval:paste_clipboard
URxvt*keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt*urgentOnBell:   true
URxvt*visualBell:     false
! all xresources
*internalBorder:      10
